.exam-result-container {
  padding: 20px;
}

.exam-information-div > h2 {
  margin-bottom: 20px;
}

.search-input {
  padding: 10px;
  margin-bottom: 20px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.exam-result-table {
  width: 100%;
  border-collapse: collapse;
}

.exam-result-table th,
.exam-result-table td {
  text-align: center;
  border: 1px solid #ddd;
  padding: 10px;
}

.exam-information-div{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding:20px 40px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.exam-information-div  span{
  font-weight: normal;
}
th{
  color: white;
  background-color: #3F72AF;
}
td{
  background-color: #DBE2EF;
  
}

.studentid-result:hover{
  cursor: pointer;
  font-weight: 700;
}

.no-results {
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
}
