/* ForgetPassword.css */

.forget-password-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  
  /* Container for the forget password form */
  .forget-password-container {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  /* Heading */
  .forget-password-container h2 {
    margin-bottom: 1.5rem;
    color: #333;
  }
  
  /* Paragraph below heading */
  .forget-password-container p {
    color: #666;
    margin-bottom: 2rem;
  }
  
  /* Input field styling */
  .forget-password-container input {
    width: 100%;
    margin-bottom: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: border-color 0.3s;
  }
  
  /* Focus state for input */
  .forget-password-container input:focus {
    outline: none;
  }
  
  /* Error input field */
  .input-error {
    border-color: #e74c3c;
  }
  
  /* Submit button styling */
  .resetlink-button{
    width: 100%;
    padding: 10px;
    background-color:  #2a4a7b;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s, transform 0.2s;
  }

  .close-button{
  width: 100%;
  padding: 10px;
  background-color:  #f4f4f4;
  color: #2a4a7b;
  border: 1px solid #2a4a7b;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  }
  
  .resetlink-button:hover {
    background-color: #0056b3;
  }
  .close-button:hover {
    background-color: #e8e8e1;
  }

  #fin{
    border: 1px solid #555;
    padding:10px;
  }
  
  /* Active state for button */
  .forget-password-container button:active {
    transform: scale(0.98);
  }
  
  /* Error message */
  .error-message {
    color: #e74c3c;
    font-size: 16px;
    margin-bottom: 1rem;
  }
  
  /* Success message */
  .success-message p {
    color: #2ecc71;
    font-size: 18px;
  }
  
  
  .resend-otp {
    font-size: 13px;
    color: #007BFF;
    text-decoration: none;
    cursor: pointer;
  }

  .resend-otp:hover {
    text-decoration: underline;
  }