.login-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent dark background */
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px); 
  z-index: 10;
}

.login-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
}

.login-popup {
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  width: 400px;
  z-index: 1010; /* Ensure it stays above the overlay */
}

.login-form > h2 {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}

.login-container > label {
  font-size: 14px;
  color: #555;
}

.login-container input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 15px;
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-container input {
  flex-grow: 1;
  margin-bottom: 15px;
}

.eye-button {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color:  #2a4a7b;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}

.close-button {
  width: 100%;
  padding: 10px;
  background-color:  #f4f4f4;
  color: #2a4a7b;
  border: 1px solid #2a4a7b;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}
.login-button:hover {
  background-color: #0056b3;
}
.close-button:hover {
  background-color: #e8e8e1;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}


.forgot-password {
  font-size: 13px;
  color: #007BFF;
  text-decoration: none;
  cursor: pointer;
}

.forgot-password:hover {
  text-decoration: underline;
}



