/* HomePage.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
  }
  
  .header {
    background-color:  #2a4a7b;
    color: white;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logo {
    width: 150px;
    height: auto;
  }
  
  .header h1 {
    margin-bottom: 0.5rem;
  }
  
  .navbar {
    margin-top: 10px;
    text-align: center;
  }
  
  .navbar ul {
    list-style: none;
    padding: 0;
  }
  
  .navbar ul li {
    display: inline;
    margin: 0 20px;
  }
  
  .navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
  }
  
  .navbar ul li a:hover {
    text-decoration: underline;
  }
  
  .hero {
    text-align: center;
    background-color: #f8f9fa;
    padding: 50px 10%;
  }
  
  .hero h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  .cta-btn {
    background-color:  #2a4a7b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cta-btn:hover {
    background-color: #0056b3;
  }
  
  .features {
    background-color: white;
    padding: 40px;
    text-align: center;
  }
  
  .features h3 {
    font-size: 2rem;
    margin-bottom: 30px;
  }
  
  .feature-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }

  .feature-item {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
  }
  
  .feature-item h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .feature-item p {
    font-size: 1rem;
  }
  
  .contact {
    background-color: #f8f9fa;
    padding: 50px 20px;
    text-align: center;
  }
  
  .contact h3 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .ft{
    background-color: #2a4a7b;
    color: white;
    text-align: center;
  }
  
  .feature-item:hover{
    background-color: #e8e8e1;
  }
  
  .homepage {
    transition: filter 0.3s ease;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .homepage.blur {
    filter: blur(5px);
  }
  
  .disable-background {
    pointer-events: none;
  }
  
.no-scroll {
  overflow: hidden;
}
